/* PC */
@media (min-width: 968px){
    :root{
        --biggest-font-size: 4rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.75rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }
    
}
/* tablet */
@media (min-width: 991px) and (max-width:1365px ){
   
}
/* mobile*/
@media (max-width: 968px){
    
}